<div>
	<div class="well well-lg" style="text-align:center; font-size:40px; font-style:normal;  background-color:mediumseagreen; 
		color:white">Enter Your Details</div> 	
	<div class="details_frm form-inline">
		
		<label class="width">First Name:</label><input type="text" ng-model="data.first_name" class="form-control" required><br>
		
		<label class="width">Middle Name:</label><input type="text" ng-model="data.middle_name" class="form-control" required><br>
		
		<label class="width">Last Name:</label><input type="text" ng-model="data.last_name" class="form-control" required><br>
		
		<label class="width">Mobile:</label><input type="text" name="name" class="form-control" ng-model="data.mobile" maxlength="10"></br>

		
		<label class="width">Country:</label>
		
		<select ng-model="data.country" class="form-control">
			<option value="india">India</option>
			<option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
		</select></br>
		
		<label class="width">City:</label><input type="text" ng-model="data.city" class="form-control" required><br>
		
		<label class="width">Locality:</label><input type="text" ng-model="data.locality" class="form-control" required><br>
		
		<label class="width">Street_address:</label><textarea ng-model="data.street_address" class="form-control" rows="" cols="" required></textarea><br>
		
		<label class="width">Postal_code:</label><input type="text" ng-model="data.postal_code" maxlength="6" class="form-control" required><br>
		
		<label class="width">Clinic:</label><input type="text" ng-model="data.clinic" class="form-control" required><br>
		
		<label class="width_gender">Gender:</label><input type="radio" ng-model="data.gender" value="male"  required>Male
		<input type="radio" ng-model="data.gender" value="female" required>Female</br></br>
		
		<label class="width">Education:</label><br>
		<label class="width">Graduation:</label>
		Degree<input type="text" ng-model="data.education[0].degree" class="form-control" placeholder="Degree" required>
		College<input type="text" ng-model="data.education[0].college" class="form-control" placeholder="College" required>
		Year<input type="text" ng-model="data.education[0].year" class="form-control" placeholder="Year" maxlength="4">
		<button ng-click="show()" style="width:20px">+</button>
		
		<div ng-show="showDiv">
		<label class="width">Post Graduation:</label>
		Degree<input type="text" ng-model="data.education[1].degree" class="form-control" placeholder="Degree" required>
		College<input type="text" ng-model="data.education[1].college" class="form-control" placeholder="College" required>
		Year<input type="text" ng-model="data.education[1].year" class="form-control" placeholder="Year" maxlength="4"><br><br>
		</div>
		
		<label class="width">Specialities:</label><input type="text" ng-model="data.specialities" class="form-control" required><br>
		
		<label class="width">Council_id:</label><input type="text" ng-model="data.council_id" class="form-control" required><br>
		
		<label class="width">Council:</label><input type="text" ng-model="data.council" class="form-control" required><br>
		
	</div>
	<div id="btn2">	
		<button class="btn btn-primary" ng-click="submit()">Submit</button>
		<button class="btn btn-success" ui-sref="home">Cancel</button>
	</div>
</div>


	
	
	
