<!DOCTYPE html>
<html ng-app="editorApp">
<head>
  <title>MySwaasth Data Entry Project</title>
{% load static from staticfiles %}
  <!--<base href="/" />-->

  <meta name="viewport" content="initial-scale=1" />

  {% include 'stylesheets.html' %}
    
</head>


{% verbatim %}

<body>
<!--<div class="splash" ng-cloak="">
    <h2>Loading........ </h2>

</div>-->

    <ui-view></ui-view>

  {% endverbatim %}
  {% include 'javascripts.html' %}

</body>

</html>
