{% load staticfiles %}
  <!--<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
-->
<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

  <!--<script src="{% static 'bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js' %}"></script>-->
  <script src="{% static 'bower_components/angular/angular.js' %}"></script>
 

<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>
<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>

  <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
  <!--<script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
  <script src="{% static 'bower_components/ngstorage/ngStorage.js' %}"></script>
  <script src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>-->

  <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
   <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>

  <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
  <script src="{% static 'bower_components/angular-base64/angular-base64.js' %}"></script>
  <script src="{% static 'bower_components/ngstorage/ngStorage.min.js' %}"></script>
  
  <script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
    

 <script src="{% static 'bower_components/toastr/toastr.js' %}"></script>

<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>-->








  <script src="{% static 'editorApp.js' %}"></script>
  <script src="{% static 'editorApp.config.js' %}"></script>
  <script src="{% static 'editorApp.routes.js' %}"></script>
  


  <script src="{% static 'javascripts/CacheService.js' %}"></script>
  <script src="{% static 'javascripts/HttpService.js' %}"></script>



  <script src="{% static 'javascripts/home/editorApp.home.module.js' %}"></script>
  <script src="{% static 'javascripts/home/controller/editorApp.home.controller.js' %}"></script>
  <script src="{% static 'javascripts/home/services/editorApp.home.services.js' %}"></script>
  
   <script src="{% static 'javascripts/navbar/editorApp.navbar.module.js' %}"></script>
  <script src="{% static 'javascripts/navbar/controllers/editorApp.navbar.controllers.js' %}"></script>
  <script src="{% static 'javascripts/navbar/directives/editorApp.navbar.directives.js' %}"></script>
  <script src="{% static 'javascripts/navbar/services/editorApp.navbar.services.js' %}"></script>
  

<script src="{% static 'javascripts/editor/editorApp.editor.module.js' %}"></script>
<script src="{% static 'javascripts/editor/controllers/editorApp.editor.controllers.js' %}"></script>
<script src="{% static 'javascripts/editor/directives/editorApp.editor.directives.js' %}"></script>
<script src="{% static 'javascripts/editor/services/editorApp.editor.services.js' %}"></script>

 
 <script src="{% static 'javascripts/policy/editorApp.policy.modules.js' %}"></script>
 <script src="{% static 'javascripts/policy/controllers/editorApp.policy.controllers.js' %}"></script>
 <script src="{% static 'javascripts/policy/directives/editorApp.policy.directives.js' %}"></script>
 <script src="{% static 'javascripts/policy/services/editorApp.policy.services.js' %}"></script>
 
 
 <script src="{% static 'javascripts/details/editorApp.details.modules.js' %}"></script>
 <script src="{% static 'javascripts/details/controllers/editorApp.details.controllers.js' %}"></script>
 <script src="{% static 'javascripts/details/directives/editorApp.details.directives.js' %}"></script>
 <script src="{% static 'javascripts/details/services/editorApp.details.services.js' %}"></script>



<script src="{% static 'javascripts/conditions/editorApp.conditions.module.js' %}"></script>
<script src="{% static 'javascripts/conditions/controllers/editorApp.conditions.controllers.js' %}"></script>
<script src="{% static 'javascripts/conditions/directives/editorApp.conditions.directive.js' %}"></script>
<script src="{% static 'javascripts/conditions/services/editorApp.conditions.services.js' %}"></script>



<script src="{% static 'javascripts/NewCondition/editorApp.NewCondition.module.js' %}"></script>
<script src="{% static 'javascripts/NewCondition/controllers/editorApp.NewCondition.controllers.js' %}"></script>
<script src="{% static 'javascripts/NewCondition/directives/editorApp.NewCondition.directives.js' %}"></script>
<script src="{% static 'javascripts/NewCondition/services/editorApp.NewCondition.services.js' %}"></script>
<script src="{% static 'javascripts/NewCondition/upload.js' %}"></script>


<script src="{% static 'javascripts/EditCondition/editorApp.EditCondition.module.js' %}"></script>
<script src="{% static 'javascripts/EditCondition/controllers/editorApp.EditCondition.controllers.js' %}"></script>
<script src="{% static 'javascripts/EditCondition/directives/editorApp.EditCondition.directives.js' %}"></script>
<script src="{% static 'javascripts/EditCondition/services/editorApp.EditCondition.services.js' %}"></script>
<script src="{% static 'javascripts/EditCondition/upload.js' %}"></script>

