<div class="wrapper">
    <div class="container">
        <h5>Note :Email sandeepsingh@innotical.com & password is 123</h5>
        <h1>Welcome</h1>

        <form class="form">
            <input type="text" placeholder="Email" id="inputUsername" ng-model="login.email">
            <input type="password" placeholder="Password" id="inputPassword" ng-model="login.password">
            <button type="submit" id="login-button" ng-click="home_vm.login(login.email, login.password)">Login</button>
        </form>
        <!--<form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputUsername" class="col-sm-4 control-label">Username</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="login.email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="logIn(login.email, login.password)">Log In</button>
                </div>
            </div>
        </form>-->

    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
