<div class="bgcolor">
    <nav-directive></nav-directive>
    <div class="condition_form form-inline">
   
        <label>ID :</label>
        <input class="disable" type="text" disabled>
        <br>
        
        <label>NAME :</label>
        <input class="form-control" type="text" value={{dataJson.main_condition.name}} disabled>
        <br>
        
        <label>alternative_name :</label>
        <input class="form-control" type="text">
        <br>
        
        <label>common_name :</label>
        <input class="form-control" type="text" value={{dataJson.common_name}} ng-model="dataJson.common_name">
        <br>
        
        <label>Description :</label>
    
        <textarea class="form-control" type="text" ng-model="dataJson.description" cols="10" rows="10"></textarea>
        <i class="fa fa-question-circle" popover={{Description_data[0].description}} popover-placement="right"></i>
        <br>
        
        
        <label>Life_Threatning :</label>
        <input type="checkbox" disabled>
        <br>
        
        <label>Treatment :</label>
        <textarea class="form-control" type="text" ng-model="dataJson.treatment" cols="10" rows="10"></textarea>
        <i class="fa fa-question-circle" popover={{Description_data[0].treatment}} popover-placement="right"></i>
        <br>
        
        <label>Symptons :</label>
        <textarea class="form-control" type="text" ng-model="dataJson.symptoms" cols="10" rows="10"></textarea>
        <i class="fa fa-question-circle" popover={{Description_data[0].symptoms}} popover-placement="right"></i>
        <br>
        
        <label>WorkUp :</label>
        <textarea class="form-control" type="text" ng-model="dataJson.workup" cols="10" rows="10"></textarea>
        <i class="fa fa-question-circle" popover={{Description_data[0].workup}} popover-placement="right"></i>
        <br>
        
        <label>Images :</label>
        <input class="form-control" type="text" ng-model="dataJson.images[0]">
        <br>
        
        <label>Videos :</label>
        <input class="form-control" type="text" ng-model="dataJson.videos[0]">
        <br>
        
        <label>Medication :</label>
        <input class="form-control" type="text" value={{dataJson.medications[0].name}} disabled>
        <br>
        
        <label>Medical_facility :</label>
        <input class="form-control" type="text" value={{dataJson.medical_facility_categories[0].name}} disabled>
        <br>
        
        <label>Category :</label>
        <input class="form-control" type="text" disabled>
        <br>
        
        <label>Medical_test :</label>
        <input class="form-control" type="text" disabled>
        <br>
        
        <label>Name Review :</label>
        <input class="form-control" type="text" disabled>
        <br>
        
        <label>Sympton Review :</label>
        <input class="form-control" type="text" value={{dataJson.symptoms_review[0].name}} disabled>
        <br>
        
        <label>Workup Review :</label>
        <input class="form-control" type="text" value={{dataJson.workup_review[0].name}} disabled>
        <br>
        
        <label>Treatment Review :</label>
        <input class="form-control" type="text" value={{dataJson.treatment_review[0].name}} disabled>
        <br>
        
                <button class="btn mybtn" ng-click="previous()">PREVIOUS</button>
          
                <button class="btn mybtn" ng-click="save()">SAVE</button>
            
                <button class="btn mybtn" ng-click="next()">NEXT</button>
            
   

    </div>
    <!--<input type="file" ng-file-select="onFileSelect($files)" multiple>-->
    <!--<div ng-repeat="x in imageSrc">
   <img id="photo" ng-src="{{x}}" height="40px" width="60px;"/><br/>
</div>

<button ng-click="download()">download</button>
<input type="text" id="img" placeholder="Enter url" name="url">--></div>