<div class="list-bg-color">
<nav-directive></nav-directive>
<div class="list-height">
    <div ng-repeat="x in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
             <div class="row">
                   <div class="col-md-4 text-center">   
                        {{x.main_condition.name}}
                   </div>
                    <div class="col-md-4 text-center">   
                        <a ng-show={{x.new}} ui-sref="NewCondition({slug : x.main_condition.slug, index_of_condition : $index})">New</a>
                   </div>
                    <div class="col-md-4 text-center">   
                        <a ng-hide={{x.new}} ui-sref="EditCondition({slug : x.main_condition.slug, index_of_condition : $index})">Edit</a>
                   </div>
                
             </div>
             
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <pagination class="pos_fix" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>
</div>

